.intro {
  @apply relative md:min-h-[240px];

  &__title {
    @apply relative mb-0;

    @media (min-width: 768px) {
      margin-top: 0.5rem;
    }
    @media (min-width: 992px) {
      margin-top: -2rem;
    }

    span {
      @apply text-primary block;
      font-size: 22px;
    }
  }

  &__score {
    @apply bg-primary rounded-[10px] lg:rounded-3xl p-6 md:p-12;
    @apply relative mt-8;
    @apply flex flex-col items-center justify-center;
    @apply font-black text-black;

    @media (min-width: 768px) {
      @apply absolute left-[50%] right-4 mt-0;
      top: -90px;
    }

    &_num {
      font-size: 120px;
    }
    &_descr {
      font-size: 32px;
    }
  }

  &__cta {
    @apply text-black font-medium;
    @apply flex flex-col gap-2 mt-8;
    font-size: 18px;
    line-height: 1;

    &_name {
      @apply font-black italic;
    }
  }

  &__btn {
    @apply mt-1 w-full md:mt-10;

    a {
      @apply w-full md:w-auto md:px-8;
    }
  }
}
