.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  h1 {
    margin-bottom: 12px;
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 900;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
